// Mixins in here

.btn-properties(@background) {
    background: @background;
    color: @white;
    padding: 12px 0;
    border-radius: 12px;
    font-size: 1.8rem;
    text-align: center;
    &:hover {
        background: darken(@background, 10%);
    }
}

.width-mobile-content() {
    width: 90%;
    margin: 0 auto;
}

.width-mobile-destination() {
    width: 70%;
    margin: 20px auto;
}